{% extends 'base.html.twig' %}

{% block body %}
<style>

</style>

<div class="container my-5">

    <h1> Espace Membre privée : </h1>
    <h3> Modifier Mot de passe :</h3>

 {{form(modifyPwd)}}  
</div>
<div class="text-center mt-3">
        <a href="{{ path('app_account') }}" class="btn btn-primary">Retour Compte</a>
</div>
{% endblock %}
