{% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block body %}

{{form(Registerform)}}
<input type="hidden" name="_target_path" value="{{ path('app_account') }}"/>
</div>
{% endblock %}
